* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Inter, Arial, sans-serif; 
    font-size: 16px;
    line-height: 1,45;
}

body {
    background-image:
    url("PSX_20251114_085514.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
   width: 100%;
   color: #333333;
}


.thin-box {
  display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-color: #fbe9e4dc;
    border-radius: 1rem; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
}
   
.navbar a {
    color: #7e93ab;
    text-decoration: none;
font-size: 18px;
font-weight: 500;
transition: color 0.3s;
}
.navbar a {
    color: #7e93ab;
}
.navbar a {
color: #7e93ab;
}
.navbar a {
color: #7e93ab;
}

    

.container {
   display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  gap: 5%;
padding: 0 4%;
}


.left-block {
flex: 1;
min-height: 80vh;
display: flex;
flex-direction: column;
background-color: #fbe9e4;
padding: 20px 5px 5px 5px;
margin-top: 70px;
margin-left: 1%;
min-width: 150px;
gap: 5px;
}

.left-block h1 {
    font-family: "Cormorant Garamond, serif";
    font-size: 3rem;
    font-weight: normal;
    padding-left: 10%;
    padding-top: 5%;
    color: #254c36;
}
.name {
   
font-style: italic;
    font-size: 1rem;
display: flex;
flex-direction: column;
text-align: center;
color: #254c36;

}

.help-block {
    max-width: 300px;
    margin: 0 auto;
   padding-left: 10%;
   padding-top: 10%;
}

}
.list-wrapper {
max-width: 300px;
overflow-x: auto;
}
.ul {
list-style-type: none;
margin: 0;
display: flex;
flex-direction: column;
}
.li {
display: flex;
align-items: center;
margin-bottom: 10px;
}
.checkbox {
  line-height: 2;
margin-right: 10px;
padding-left: 10px;
color: #254c36;
}
.list-item-text {
flex-grow: 1;
word-break: break-word;
border-radius: 50%;
}

.services {
display: flex;
flex-wrap: wrap;
gap: 30px;
margin-top: 20px;
text-align: center;
align-items: center;
padding-left: 14px;
padding-top: 10%;
}

.shape {
    display: inline-block;
    border: 1px solid #7fbf7f;
    border-radius: 50%;
    padding: 10%;
   
    width: 32vw;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f1ecce;
}

.socials {
    padding-top: 40%;
}

    
.right-block {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 10px 5px 10px 5px;
margin-top: 30px;
margin-right: 1%;
margin-left: 1%;
flex-direction: column;
background-color: #fbe9e4;
min-width: 150px;
min-height: 80vh;
gap: 40px;


}



   

.photo-block {
    display: flex;
    overflow: hidden;
    padding: 20px;
    
    justify-content: center;
    align-items: center;
   
}
.photo-block img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    
}

.about-block {
    
border: 1px solid #7fbf7f;

padding: 20px;
margin-left: 5px;
margin-right: 5px;
}
.about-block p {
line-height: 1,5;

}



