* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Inter, Arial, sans-serif; 
    font-size: 10px;
    line-height: 1,65;
}

body {
    background-image:
    url("PSX_20251114_085514.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
   width: 100%;
   color: #333333;
    font-family: 'Shift', Arial, Helvetica, sans-serif;
line-height: 1,45;
font-size: clamp(1rem, 2,2vw, 1,25rem);
}
h1 {
    font-family: 'Shift', Arial, Helvetica, sans-serif;
line-height: 1,4;
font-size: clamp(2rem, 6vw, 6rem);
}
h3 {
    font-size: clamp(1rem, 2vw, 2rem);
}
 span {
font-size: clamp(1rem, 2vw, 2rem);
}


.thin-box {
  display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-color: #fbe9e4dc;
    border-radius: 1rem; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
}
   
.navbar a {
    color: #7e93ab;
    text-decoration: none;
font-size: 18px;
font-weight: 500;
transition: color 0.3s;
}
.navbar a {
    color: #7e93ab;
}
.navbar a {
color: #7e93ab;
}
.navbar a {
color: #7e93ab;
}

    

.container {
   display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  gap: 4%;
padding: 0 3%;
    padding-bottom: 40%;
}


.left-block {
flex: 1;
align-items: center;
display: flex;
flex-direction: column;
background-color: #fbe9e4;
padding: 20px 5px 5px 5px;
margin-top: 60px;
margin-left: 1%;
gap: 3px;
}

.left-block h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Cormorant Garamond, serif";
    font-weight: normal;
    padding-left: 0;
    padding-top: 5%;
    color: #254c36;
}
.name {
 padding-top: 2%;  
font-style: italic;
font-weight: 100px;
display: flex;
flex-direction: column;
text-align: center;
color: #254c36;
}
.name-line {
border: 1px solid #254c36;    
width: 80%;
margin: 10px auto 0 auto;
}

.help-block {
    display: flex;
   text-align: center;
    margin: 0 auto;
  padding-top: 7%;
}

}
.list-wrapper {
max-width: 300px;
overflow-x: auto;
    margin-top: 5%;
}
.ul {
list-style-type: none;
margin: 0;
display: flex;
flex-direction: column;
}
.li {
    list-style: none;
display: flex;
align-items: center;
margin-bottom: 10px;
}
.checkbox {
  line-height: 2;
margin-right: 10px;
padding-left: 10px;
color: #254c36;
}
.list-item-text {
flex-grow: 1;
word-break: break-word;
border-radius: 50%;
}

.services {
justify-content: center;
display: flex;
flex-wrap: wrap;
gap: 30px;
margin-top: 20px;
text-align: center;
align-items: center;
padding-left: 0;
padding-top: 10%;
}

.shape {
    display: inline-block;
    border: 1px solid #7fbf7f;
    border-radius: 50%;
    padding: 8%;
    width: 22vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f1ecce;
}

.socials {
    padding-top: 40%;
    padding-bottom: 20px;
}

    
.right-block {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 10px 5px 10px 5px;
margin-top: 61px;
margin-right: 1%;
margin-left: 1%;
flex-direction: column;
background-color: #fff8e1;
min-width: 150px;
gap: 30px;


}



   

.photo-block {
    display: flex;
    overflow: hidden;
    padding: 20px;
    justify-content: center;
    align-items: center;
   
}
.photo-block img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    
}

.about-block {
border: 1px solid #7fbf7f;
background-color: #fff8e1;
padding: 10px;
margin-left: 20px;
margin-right: 20px;
}
.about-block p {
line-height: 1,5;

}

.contacts {
    margin-bottom: 7px;
}




