* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Inter, Arial, sans-serif; 
    font-size: 10px;
    line-height: 1,65;
}

body {
    background-image:
    url("PSX_20251114_085514.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
   width: 100%;
   color: #333333;
    font-family: 'Shift', Arial, Helvetica, sans-serif;
line-height: 1,45;
font-size: clamp(1rem, 2,2vw, 1,25rem);
}
 a {
font-size: clamp(2rem, 6vw, 6rem);
 }

h1 {
    font-family: 'Shift', Arial, Helvetica, sans-serif;
line-height: 1,4;
font-size: clamp(2rem, 6vw, 6rem);
}
h3 {
    font-size: clamp(1rem, 2vw, 2rem);
}
 span {
font-size: clamp(1rem, 2vw, 2rem);
}
p {
    font-size: clamp(1rem, 2vw, 2rem);
}

h4 {
    font-size: clamp(1rem, 2vw, 2rem);
}


.thin-box {
  display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-color: #fff8e1;
    border-radius: 1rem; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
}
   
.navbar a {
    color: #7e93ab;
    text-decoration: none;
font-size: 18px;
font-weight: 500;
transition: color 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  gap: 10px;
  padding: 0 1rem;
    box-sizing: border-box;
  padding-bottom: 10%;
}


.left-block {
flex: 1;
align-items: center;
display: flex;
flex-direction: column;
background-color: #fff8e1;
padding: 1rem;
margin-top: 60px;
margin-left: 1%;
margin-right: 1%;   
gap: 2%;
}

.left-block h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Cormorant Garamond, serif";
    font-weight: normal;
    padding-left: 0;
    padding-top: 5%;
    color: #254c36;
}
.name {
 padding-top: 2%;  
font-family: 'Great Vibes';
letter-spacing: 2px;
font-weight: 100px;
display: flex;
flex-direction: column;
text-align: center;
color: #254c36;
}
.name-line {
border: 1px solid #254c36;    
width: 80%;
margin: 10px auto 0 auto;
}

.help-block {
    display: flex;
    flex-direction: column;
   text-align: center;
    margin: 0 auto;
  padding-top: 10%;
    gap: 2rem;
}

help-block ul {
list-style-type: disc; 
padding-left: clamp(1rem, 5%, 2rem);
display: flex;
flex-direction: column;
gap: 1rem;
list-style-position: inside;
    margin-left: 0;
}
.help-block li {
    margin: 0;
    text-align: left;
    line-height: 2;
    font-size: clamp(1rem, 2vw, 2rem);
}

.services {
justify-content: center;
display: flex;
flex-wrap: wrap;
gap: 30px;
margin-top: 20px;
text-align: center;
align-items: center;
padding-left: 0;
padding-top: 10%;
}

.shape {
    display: inline-block;
    border: 1px solid #7fbf7f;
    border-radius: 50%;
    padding: 8%;
    width: 22vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding-top: 30%;
    margin-top: 1rem;
    padding-bottom: 20px;
    align-self: flex-start;
    text-align: left;
    padding-left: 20px;
}
.contacts span {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    font-size: 1rem;
}
.contacts a {
    font-size: 1rem;
    color: #2c5c7e;
    text-decoration: none;
    transition: color 0,3s;
   
}
 .contacts a:hover {
        color: #1b4d3a;
        text-decoration: underline;
    }
    

.right-block {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: center;
padding: 10px 5px 10px 5px;
margin-top: 61px;
margin-right: 1%;
margin-left: 1%;
flex-direction: column;
background-color: #fff8e1;
min-width: 150px;
gap: 40px;
}

.photo-block {
    display: flex;
    overflow: hidden;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.photo-block img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.phrase {
    font-family: 'Great Vibes';
    margin-top: -2rem;
    margin-left: 5px;
}

.about-block {
  font-family: 'Oleo Script';  
border: 1px solid #7fbf7f;
line-height: 2;
padding: 10px;
margin-left: 20px;
margin-right: 20px;
}
.about-block p {
line-height: 1,5;
}

.socials {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
   width: fit-content;
  padding-top: 10%;
  padding-bottom: 10%;
  }
  .social-link {
display: flex;
justify-content: center;
align-items: center;
padding: 8px 12px;
background-color: #d9e3d859;
width: 100%;
 }
.socials a {
    color: inherit;
    text-decoration: none;
 color: #254c36;
 font-size: clamp(1rem, 2vw, 2rem);
font-weight: normal;
}













